$bg-color: #fff;
$text-color: #2B3245;
$text-color-light: #8D8FA8;
$card-bg: #F3F4F7;
$main-color: #4675E2;

$font-stack: 'Poppins', Arial, Helvetica, sans-serif;
$t-time: 300ms;

$tablet: 768px;
$laptop: 900px;
$pc: 1200px;